<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>
    <div class="header">
        <h1>Welcome Back <%= user.username %>!</h1>
        <div class="action-buttons">
            <a href="/auth/logout">
                <button>Logout</button>
            </a>
        </div>
    </div>
        <div class="search-bar action-buttons">
            <p>Looking For Something? </p>
            <input type="text" placeholder="Search">
            <button class="button">Search</button>
        </div>
        <div class="recent-projects">
            <h2>My Projects</h2>
            <% projects.forEach(function(project) { %>
                <div class="card">
                    <div class="card-details">
                        <h3><%= project.title %></h3>
                        <p>Description: <%= project.description %></p>
                        <p>Date: <%= project.date %></p>
                        <a href="/projects/<%= project.projectId %>">View More</a>
                    </div>
                </div>
            <% }); %>
            <div class="action-buttons">
                <a href="/my-projects"  class="add-post-button" onclick="document.getElementById('addPostForm').style.display='block'">
                    <button>My Projects</button>
                </a>
                </div>
        </div>

        <div class="new-today">
            <h2>What's New Today</h2>
            <% posts.forEach(post => { %>
                <div class="card">
                    <img src="<%= post.creator && post.creator.Avatar ? post.creator.Avatar.imageUrl : 'https://i.pravatar.cc/150?img=3' %>" alt="User Avatar" style="width: 100px; height: 100px; border-radius: 50%;">
                  <div><strong>By <%= post.creator ? post.creator.username : 'Unknown User' %></strong></div>
                  <h2><%= post.title %></h2>
                  <p><%= post.description %></p>
                  <div class="action-buttons">
                  </div>
                </div>
              <% }); %>
                <div class="action-buttons">
                    <a href="/posts"  class="add-post-button" onclick="document.getElementById('addPostForm').style.display='block'">
                        <button>Community</button>
                    </a>
                    </div>
            </div>
    </div>
</body>
</html>