<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Project</title>
    <link rel="stylesheet" href="/projects.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="action-buttons">
          <a href="/my-projects">
            <button type="button">Back to My Projects</button>
          </a>
        </div>
        <h1>Project Details</h1>
        <div>
          <h2><%= project.title %></h2>
          <p><strong>Description:</strong> <%= project.description %></p>
          <p><strong>Date:</strong> <%= project.date %></p>
          <!-- Format date -->
          <p><strong>Steps:</strong></p>
          <ul>
            <% if (project.Steps && project.Steps.length > 0) { %> <%
            project.Steps.forEach((step, index) => { %>
              <p><strong>Step <%= index + 1 %>:</p>
              <p> <%= step.description %> </p>
            <% }); %> <% } else { %>
            <li>No steps available</li>
            <% } %>
          </ul>
          <% if (project.Images && project.Images.length > 0) { %>
          <p><strong>Cover Image:</strong></p>
          <img
            src="<%= project.Images[0].link %>"
            alt="Cover Image"
            style="max-width: 100%; height: auto"
          />
          <% } %>
          <% if (project.User && project.User.username === loggedInUsername) { %>
            <div class="action-buttons">
              <a href="/projects/<%= project.projectId %>/update">
                <button type="button">Edit Project</button>
              </a>
              <a href="/projects/<%= project.projectId %>/delete">
                <button type="button">Delete Project</button> 
              </a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
