<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Project</title>
    <link rel="stylesheet" href="/projects.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="action-buttons">
                <a href="/projects">
                <button type="button">Back to My Projects</button></a>
            </div>
    
            <h1>Project Details</h1>
            <div>
                <h2><%= project.title %></h2>
                <p><strong>Description:</strong> <%= project.description %></p>
                <p><strong>Date:</strong> <%= project.date %></p>
                <p><strong>Steps:</strong></p>
                <ul>
                    <% project.steps.forEach(step => { %>
                        <li><%= step.description %></li>
                    <% }); %>
                </ul>
    <div class="action-buttons">
        <a href="/projects/<%= project.id %>/update">
        <button type="button">Edit Project</button></a>
        <a href="/projects/<%= project.id %>/delete">
        <button type="button">Delete Project</button></a>

    </div>

            </div>
        </div>
    </div>
</body>
</body>
</body>
</html>
