<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Project</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/update.css">
</head>
<body>
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1>Update Project</h1>
        </div>
        <div class="card-body">
            <form action="/projects/<%= project.projectId %>/update" method="post">
                <div class="form-group">
                    <label for="title">Project Title:</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%= project.title %>" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" name="description" value="<%= project.description %>" required>
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="text" class="form-control" id="date" name="date" value="<%= project.date %>" required>
                </div>
                <div class="form-group">
                    <label for="steps">Steps:</label>
                    <div id="stepsContainer">
                        <% if (project.Steps && project.Steps.length > 0) { %>
                            <% project.Steps.forEach((step, index) => { %>
                                <div class="input-group mb-3">
                                    <input type="hidden" name="steps[<%= index %>][id]" value="<%= step.stepId %>">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Step <%= index + 1 %>:</span>
                                    </div>
                                    <input type="text" class="form-control" name="steps[<%= index %>][description]" value="<%= step.description %>">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-danger deleteStepBtn">Delete</button>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Step 1:</span>
                                </div>
                                <input type="text" class="form-control" name="steps[0][description]" required>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-danger deleteStepBtn">Delete</button>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="button" id="addStepBtn" class="btn btn-success">Add step</button>
                    <div>
                      <button type="submit" class="btn btn-primary">Create</button>
                      <a href="/my-projects/all" class="btn btn-secondary">Go Back</a>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>
<script>
    function getMaxExistingStepId() {
        var maxId = 0;
        var existingIds = document.querySelectorAll("input[type='hidden'][name^='steps'][name$='[id]']");
        existingIds.forEach(function(idInput) {
            var idValue = parseInt(idInput.value, 10);
            if (idValue > maxId) {
                maxId = idValue;
            }
        });
        return maxId;
    }

    document.getElementById("addStepBtn").addEventListener("click", function () {
        let stepsContainer = document.getElementById("stepsContainer");
        let stepCount = stepsContainer.children.length;
        let maxStepId = getMaxExistingStepId(); // Get the maximum existing step ID
        let newStepId = maxStepId + 1; // Increment for the new step

        const newStepDiv = document.createElement("div");
        newStepDiv.className = "input-group mb-3";

        const newLabel = document.createElement("div");
        newLabel.className = "input-group-prepend";
        newLabel.innerHTML = `<span class="input-group-text">Step ${stepCount + 1}:</span>`;

        let newIdInput = document.createElement("input");
        newIdInput.type = "hidden";
        newIdInput.name = `steps[${stepCount}][id]`;
        newIdInput.value = newStepId; // Set the new ID

        const newDescInput = document.createElement("input");
        newDescInput.type = "text";
        newDescInput.className = "form-control";
        newDescInput.name = `steps[${stepCount}][description]`;
        newDescInput.required = true;

        const newDeleteBtn = document.createElement("div");
        newDeleteBtn.className = "input-group-append";
        newDeleteBtn.innerHTML = '<button type="button" class="btn btn-danger deleteStepBtn">Delete</button>';
        newDeleteBtn.addEventListener("click", function () {
            stepsContainer.removeChild(newStepDiv);
            updateStepNumbers();
        });

        newStepDiv.appendChild(newLabel);
        newStepDiv.appendChild(newIdInput);
        newStepDiv.appendChild(newDescInput);
        newStepDiv.appendChild(newDeleteBtn);
        stepsContainer.appendChild(newStepDiv);

        updateStepNumbers();
    });

    function updateStepNumbers() {
        let stepsContainer = document.getElementById("stepsContainer");
        for (let i = 0; i < stepsContainer.children.length; i++) {
            let stepDiv = stepsContainer.children[i];
            stepDiv.querySelector(".input-group-text").textContent = "Step " + (i + 1) + ":";
            stepDiv.querySelector("input[type='hidden']").name = "steps[" + i + "][id]";
            stepDiv.querySelector("input[type='text']").name = "steps[" + i + "][description]";
        }
    }

    let deleteButtons = document.getElementsByClassName("deleteStepBtn");
    for (let i = 1; i < deleteButtons.length; i++) {
        deleteButtons[i].addEventListener("click", function() {
            let stepsContainer = document.getElementById("stepsContainer");
            stepsContainer.removeChild(this.parentNode.parentNode);
            updateStepNumbers();
        });
    }

    document.querySelector("form").addEventListener("submit", function (event) {
    });
</script>

</body>
</html>
